<!DOCTYPE html>
<html data-ng-app='AlbumApp'>
<head>
    <title>MVC Music</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="resources/css/app.css" />
    <!-- fonts from google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
<div id="page-container">
    <!-- get info from index controller-->
    <section data-ng-controller="IndexController">
        <div id="header">
            <h1 class="margin-zero"><a href="/cm0665-assignment">{{title}}</a></h1>
            <h2 class="margin-top-zero">{{subtitle}}</h2>
        </div>
    </section>
    <!-- get info from album controller -->
    <section data-ng-controller="AlbumController" >
        <!-- search bar, when entered search term is meant to be sent to getAlbum and passed to the data service, functionality does not work-->
        <div id="search">
            <input data-ng-model="searchTerm" data-ng-change="searchAlbums($event, searchTerm)" placeholder="search" type="text"/>
            <!-- filter items according to selected genre -->
            <label class="search-label">Filtre by genre:</label> <select class="select" data-ng-model="genreFiltre">


            <option data-ng-repeat="genre in genres" value="{{genre.genre}}">{{genre.genre}}</option>
        </select>
        </div>
        <div id="album-content">
            <p class="small">Click on album info to view track list</p>
            <article data-ng-include="'js/partials/album-list.html'">
            </article>
            <article data-ng-view></article>
        </div>
    </section>
</div>

<!-- load the basic angular libraries -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>

<!-- link to application files -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</body>
</html>
