body {
    font-size: 0.9em;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.margin-zero {
    margin: 0;
}

.margin-top-zero {
    margin-top: 0;
}

.small {
    font-size: 0.8em;
    color: #515151;
}

a {
    text-decoration: none;
    color: #383838;
}

/*navigation*/

nav {
    text-align: right;
    margin: 10px;
}

nav a {
    font-size: 1em;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}

/*search*/
#search {
    font-family: 'Open Sans', sans-serif;
}

#search input {
    padding: 1%;
    padding-left: 40px;
    width: 50%;
    border:1px solid #b1b1b1;
    background-image: url('../imgs/search.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 20px;
/*image taken from https://www.iconfinder.com/icons/314478/search_icon*/
}

.select {
    padding: 1%;
    border:1px solid #b1b1b1;
}

/*album and track display*/
.album-art {
    max-width: 50px;
    max-height: 50px;
}

#album-container{
    width: 55%;
    float: left;
    margin-right: 5%;
}

#tracks-container {
    height: 500px;
    width: 30%;
    float: left;
}

#album-content {
    margin-top: 2%;
}

.search-label {
    padding: 1%;
}

#page-container {
    width: 90%;
    margin: 3% auto;
}

/*headers*/
h1 {
    font-size: 4em;
    color: #565656;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 1.5em;
    color: #565656;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-bottom: 4%;
}

/*tables*/
table {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: auto;
}

td {
    padding: 2%;
    border-bottom: 1px solid #e7e7e7;
}

tr:hover {
    color: #383838;
}

.no-hover:hover {
    color: black!important;
}

th {
    text-align: left;
    padding: 2% 1%;
    border-bottom: 1px solid #e7e7e7;
    text-transform: uppercase;
    font-size: 0.6em;
}

/*for mobile*/
@media only screen and (max-width: 1300px) {
    /*containers*/
    #album-container, #tracks-container{
        margin: 2%;
        width: 100%;
        font-size: 0.7em;
    }

    .album-art {
        max-width: 20px;
        max-height: 20px;
    }

    /*search*/

    #search input {
        padding: 2%;
        width: 100%;
        border:1px solid #b1b1b1;
        background-image: none;
        margin-bottom: 10px;
    }

    .select {
        padding: 2%;
        border:1px solid #b1b1b1;
    }

    .search-label {
        font-size: 0.8em;
        padding: 1%;
    }
}