<section>
    <div id="album-container">
    <table>
        <tr class="no-hover">
            <th>Image</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Year</th>
        </tr>
        <tr data-ng-repeat="album in albums | filter: genreFiltre | filter: searchTerm"
            data-ng-click="selectAlbum($event, album)"
            data-ng-class="{'selected':selectedAlbum.album_id===album.album_id}"
            style="cursor: pointer;">
            <!-- display album details in a table-->
            <td width="15%">
                <!-- on error provides image if there is an error retrieving image, either from broken link or not exiting-->
                <img class="album-art"
                     src="./resources/imgs/music_artwork/{{album.artwork}}"
                     alt="{{album.Name}}"
                     onerror="this.src='./resources/imgs/no-image.jpg'"/>
            </td>
            <td>{{album.albumName}}</td>
            <td>{{album.artistName}}</td>
            <td width="15%">{{album.genre}}</td>
            <td width="15%">{{album.year}}</td>

        </tr>
    </table>
    </div>
</section>