<section>
    <div id="tracks-container">
    <table>
        <tr class="no-hover">
            <th>#</th>
            <th>Title</th>
        </tr>
        <tr data-ng-repeat="track in tracks">
            <!-- display track information in a table, to appear next to album list when album is clicked-->
            <td width="10%">{{track.track_number}}</td>
            <td>{{track.trackName}}</td>
        </tr>
    </table>
    </div>
</section>
